NODE_ENV=development

# App
PORT=8081
TRANSPORT_PORT=8081
ENABLE_DOCUMENTATION=true
API_VERSION=v1.0.0
FALLBACK_LANGUAGE=en

# Auth (required)
JWT_EXPIRATION_TIME=86400
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-with-rs256-private-key\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nreplace-with-rs256-public-key\n-----END PUBLIC KEY-----"

# Database
# Supported values: postgres | mysql
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=insight-care
DB_SESSION_TIMEZONE=+07:00
TYPEORM_MIGRATIONS_RUN=false
